body {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(84, 56, 132);
    background: linear-gradient(90deg, rgba(84, 56, 132, 1) 0%, rgba(154, 119, 207, 1) 50%, rgba(255, 164, 94, 1) 100%);
}

h2 {
    font-family: cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0;
    z-index: 50;
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-size: cover;
    /* border: 6px solid rgba(255, 255, 255, 0.8)*/
    z-index: 1;
}

/*
.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
    background: url(img/colorfull/color1.svg);

}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
    background: url(img/colorfull/color10.svg);

}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
    background-image: url(img/colorfull/color15.svg);

}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
    background-image: url(img/colorfull/color4.svg);

}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
    background-image: url(img/colorfull/color5.svg);
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
    background-image: url(img/colorfull/color2.svg);
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
    background-image: url(img/colorfull/color7.svg);

}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
    background-image: url(img/colorfull/color13.svg);

}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
    background-image: url(img/colorfull/color6.svg);

}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
    background-image: url(img/colorfull/color8.svg);

}*/

@keyframes animate {

    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
}
